:root {
  --basicLightbox-background: rgba(0, 0, 0, 0.8);
  --basicLightbox-zIndex: 1000;
  --basicLightbox-duration: 0.9s;
  --basicLightbox-timing: ease;
}

.basicLightbox {
  background-color: var(--basicLightbox-background) !important;
  z-index: var(--basicLightbox-zIndex) !important;
  transition: all var(--basicLightbox-duration) var(--basicLightbox-timing) !important;
}

body {
  display: flex;
  align-items: center; /* Вертикальне вирівнювання */
  height: 100vh; /* Висота body, щоб він займав весь екран */
  margin: 0; /* Прибираємо відступи */
  padding: 0;
}

.gallery {
  margin: 24px auto;
  width: 1128px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48 px) / 3);
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  transition: all 0.3s ease; /* Додаємо плавний перехід */
}

.gallery-image:hover {
  /*transform: translateY(-10px); /* Піднімаємо картинку на 10px */
  transform: scale(1.04); /* Збільшуємо розмір на 10% */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Додаємо тінь при збільшенні */
}
